<mat-card *ngFor = "let product of availableProducts" [style.background] = "product.category?.color" fxLayout = "row" class = "available-product-card">
    
    <div fxFlex = "20" fxLayoutAlign = "space-around">
        <button mat-icon-button (click) = "onDeleteProduct(product.id)"><mat-icon>delete</mat-icon></button>
        <button mat-icon-button (click) = "onProductToUpdate(product)"><mat-icon>edit</mat-icon></button>
    </div>
    

    <div class="product-info" fxFlex = "55">
        <div class = "product-name">{{ product.name }}</div>
        <div class = "product-category">{{ product.category?.name }}</div>
    </div>


    <button fxFlex = "25" mat-raised-button (click) = "onAddProductToShoppingList(product)">Aggiungi a lista</button>

</mat-card>
