

<form #newProductForm = "ngForm">
    <mat-form-field>
        <mat-label>Nome prodotto</mat-label>
        <input matInput type="text" [(ngModel)] = "newProduct.name" required name = "productName"/>
    </mat-form-field>
    
    <mat-form-field>
        <mat-label>Categoria</mat-label>
        <mat-select [(ngModel)] = "newProduct.category" required name = "productCategory">
          <mat-option *ngFor="let category of availableCategories" [value]="category" >
            {{category.name}}
          </mat-option>
        </mat-select>
    </mat-form-field>
    
    <button mat-raised-button [disabled]="newProductForm.invalid" (click) = "addNewProduct()">AGGIUNGI</button>
</form>

