

<form [formGroup] = "updateProductForm" fxLayout = "column" fxLayoutGap = "5px">
    <mat-form-field>
        <mat-label>Nome prodotto</mat-label>
        <input matInput type="text" formControlName = "name"/>
    </mat-form-field>
    
    <mat-form-field>
        <mat-label>Categoria</mat-label>
        <mat-select formControlName = "category">
          <mat-option *ngFor="let category of updateProductModalData.availableCategories" [value]="category" [style.background] = "category.color">
            {{category.name}}
          </mat-option>
        </mat-select>
    </mat-form-field>
    
    <button mat-raised-button [disabled]="updateProductForm.invalid || (productChangedFromInitial$ | async)" (click)="updateProduct()">AGGIORNA</button>
</form>

